<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--Actor-->

    <bean id = "Actor" class = "com.stackRoute.Actor">
        <property name="name" value="Salman khan"/>
        <property name="Gender" value="Male"/>
        <property name="age" value="52"/>
    </bean>


    <!--Constructor arg on the basis of Name-->

    <bean id = "actor1" class = "com.stackRoute.Actor">
        <constructor-arg name="name" value="Akshay Kumar1"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="50"/>

    </bean>

    <!--Constructor arg on the basis of type-->

    <bean id = "actor2" class = "com.stackRoute.Actor">
        <constructor-arg type = "java.lang.String" value="Akshay Kumar2"/>
        <constructor-arg type="java.lang.String" value="Male"/>
        <constructor-arg type="int" value="51"/>

    </bean>


    <!--Constructor arg on the basis of index-->

    <bean id = "actor3" class = "com.stackRoute.Actor">
        <constructor-arg index="0"  value="ranveer singh"/>
        <constructor-arg index="1"  value="male"/>
        <constructor-arg index="2" value="33"/>

    </bean>

    <bean name="Movie1,Movie2" autowire="constructor" class = "com.stackRoute.Movie" scope="prototype">
         </bean>

  <!--using Constructor arguments-->

   <!--using bean LifeCycle Class-->
    <bean class="com.stackRoute.BeanLifecycleDemoBean" init-method="customInit" />

    <!--Using Bean Post Processor-->
    <bean class="com.stackRoute.BeanPostProcessorDemoBean" />

</beans>